{{ with .Site.Params.social }}
<ul>
  {{ range sort . "weight" }}
    <li>
      <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
        {{ if .icon }}
          {{ if hasPrefix .icon "fa" }}
            <i class="{{ .icon }}" aria-hidden="true" style="font-size: 2.5rem;"></i>
          {{ else }}
            <img src="{{ .icon }}" alt="{{ .name }}" style="height: 2.5rem; width: auto; vertical-align: middle;">
          {{ end }}
        {{ else }}
          {{ .name }}
        {{ end }}
      </a>
    </li>
  {{ end }}
</ul>
{{ end }}
